
  <h1>Create a new post</h1>

  <form method="POST" enctype="multipart/form-data">
  
    <label for="content">Content</label>
    <input type="text" id="content" name="content" placeholder="Describe content" />

    <label for="image">Image Upload</label>
    <input id="image" type= "file" name="image">

    <input type="submit" value="Save" />
  
  </form>